html {
  overflow-y: scroll;
  background-color: #282a36;
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-size: 18px;
}
@media (max-width: 850px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 850px) {
  html {
    font-size: 18px;
  }
}

body {
  margin: 0;
  color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

h1 {
  font-size: 3.5em;
  margin-top: 0;
  margin-bottom: 0;
}

h2,
h3,
h4 {
  color: #50fa7b;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0.25em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

a {
  color: #8be9fd;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

thead {
  font-weight: bold;
  background-color: #383a59;
}

thead > tr > td:nth-child(1) {
  border-radius: 5px 0 0 0;
}

thead > tr > td:nth-last-child(1) {
  border-radius: 0 5px 0 0;
}

td,
th {
  padding: 0.25em 0.5rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  margin: auto;
  padding: 0;
  height: 0;
  line-height: 0;
}

code {
  color: #c9c5be;
  background-color: #383a59;
  padding: 0 5px;
  border-radius: 5px;
}

.container,
.header-bar-content {
  margin: auto;
}
@media (min-width: 550px) {
  .container,
  .header-bar-content {
    max-width: 500px;
  }
}
@media (min-width: 650px) {
  .container,
  .header-bar-content {
    max-width: 600px;
  }
}
@media (min-width: 850px) {
  .container,
  .header-bar-content {
    max-width: 800px;
  }
}

.content {
  padding: 0 20px 20px 20px;
}

.counter {
  padding-bottom: 20px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
  gap: 20px 0px;
  margin-left: -5px;
}

.number-block {
  margin: 0 5px;
}

.number-block > a {
  text-decoration: none;
}

.page-number {
  font-size: 1em;
  background-color: #383a59;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: monospace;
  text-decoration: none;
}

.current-page {
  color: #ff79c6;
  font-weight: bold;
}

.card {
  background-color: #383a59;
  padding: 10px 20px;
  margin: 0 0 10px 0;
}
@media (max-width: 550px) {
  .card {
    padding: 0 20px 10px 20px;
  }
}

.post {
  margin-bottom: 1em;
  padding: 10px 20px;
  background-color: #383a59;
}

.post-content {
  display: flex;
  flex-direction: column;
}

.post-header {
  margin-bottom: 0.5em;
}

.post-header > a {
  text-decoration: none;
}
.post-header > a:hover {
  text-decoration: underline;
}

.post-header > a {
  text-decoration: none;
}

.post-titles {
  display: flex;
}
@media (min-width: 850px) {
  .post-titles {
    flex-direction: row;
    align-items: end;
    gap: 10px;
  }
}
@media (max-width: 850px) {
  .post-titles {
    flex-direction: column;
  }
}

.post-title {
  color: #ff79c6;
  display: inline;
  font-size: 1.5em;
  font-weight: bold;
}

.post-subtitle {
  color: #50fa7b;
  font-size: 1.5em;
}

.post-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: flex-start;
}
@media (max-width: 850px) {
  .post-info {
    flex-direction: column;
  }
}

.title-date {
  color: #9a9a9a;
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.25em;
}

.post-img {
  margin: 0 0 10px 0;
}

.post-img > img {
  display: block;
  width: 100%;
}

.post-readmore {
  font-weight: bold;
  margin-top: 10px;
}

.post-tags {
  display: flex;
  gap: 5px;
}

.post-info-item {
  font-weight: bold;
  border-radius: 5px;
}

a .post-tag:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=blog.css.map */
