html {
  overflow-y: scroll;
  background-color: #282a36;
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
  font-size: 18px;
}
@media (max-width: 850px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 850px) {
  html {
    font-size: 18px;
  }
}

body {
  margin: 0;
  color: #f2f2f2;
}

h1 {
  font-size: 3.5em;
  margin-top: 0;
  margin-bottom: 0;
}

h2,
h3,
h4 {
  color: #50fa7b;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0.25em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

a {
  color: #8be9fd;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

thead {
  font-weight: bold;
  background-color: #383a59;
}

thead > tr > td:nth-child(1) {
  border-radius: 5px 0 0 0;
}

thead > tr > td:nth-last-child(1) {
  border-radius: 0 5px 0 0;
}

td,
th {
  padding: 0.25em 0.5rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  margin: auto;
  padding: 0;
  height: 0;
  line-height: 0;
}

code {
  color: #c9c5be;
  background-color: #383a59;
  padding: 0 5px;
  border-radius: 5px;
}

@media (max-width: 550px) {
  .title {
    padding: 0 20px;
  }
}

.container,
.header-bar-content {
  margin: auto;
}
@media (min-width: 550px) {
  .container,
  .header-bar-content {
    max-width: 500px;
  }
}
@media (min-width: 650px) {
  .container,
  .header-bar-content {
    max-width: 600px;
  }
}
@media (min-width: 850px) {
  .container,
  .header-bar-content {
    max-width: 800px;
  }
}

.content {
  padding: 0 20px 20px 20px;
}

.counter {
  padding: 20px 0;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
  gap: 20px 0px;
  margin-left: -5px;
}

.number-block {
  margin: 0 5px;
}

.page-number {
  font-size: 1em;
  font-weight: bold;
  background-color: #383a59;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: monospace;
}

.current-page {
  color: #ff79c6;
  font-weight: bold;
}

.card {
  background-color: #383a59;
  padding: 10px 20px;
  margin: 0 15px 10px 15px;
}

.site-name-bar {
  background-color: #383a59;
  border-bottom: 2px solid #282a36;
  display: flex;
  padding: 15px;
  align-content: center;
}

.site-name-centre {
  display: flex;
  align-items: center;
}

.site-name {
  color: #ff79c6;
  font-size: 30px;
  font-weight: 700;
}

.nav-bar {
  flex: 1;
  display: flex;
  margin: auto;
  background-color: #383a59;
  justify-content: right;
}
@media (max-width: 850px) {
  .nav-bar {
    display: none;
  }
}

.nav-link {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}

.selected {
  color: #50fa7b;
}

.nav-site-image {
  height: 50px;
  width: 50px;
  margin-right: 20px;
  margin-bottom: 0;
}

.header-bar {
  margin: auto;
}

.header-bar-content {
  display: flex;
  flex-direction: column;
}

.subtitle,
.tagline {
  color: rgba(255, 255, 255, 0.5);
}

.tagline {
  margin-top: 10px;
  font-size: 1.25em;
}

.subtitle {
  font-size: 1.75em;
}

@media (max-width: 850px) {
  .home-link {
    display: none;
  }
}

.nav-bar-mobile {
  display: flex;
  padding: 10px;
  font-size: 1.25em;
  background-color: #383a59;
  border-bottom: 2px solid #282a36;
  align-content: center;
}
@media (min-width: 550px) {
  .nav-bar-mobile {
    display: none;
  }
}

.nav-button {
  align-self: flex-end;
  fill: #f2f2f2;
  cursor: pointer;
  line-height: 0;
  margin: auto 0 auto auto;
}
@media (min-width: 850px) {
  .nav-button {
    display: none;
  }
}

#nav-hamburger {
  margin: 0;
  height: 30px;
}

.nav-mobile {
  background-color: #383a59;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
@media (min-width: 850px) {
  .nav-mobile {
    display: none;
  }
}
@media (max-width: 850px) {
  .nav-mobile {
    display: flex;
  }
}

.nav-link-mobile {
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px;
}

/*# sourceMappingURL=header.css.map */
