@import "colours.scss";

.post {
  margin-bottom: 1em;
}

.post-content {
  display: flex;
}

.post-header {
  margin-bottom: 0.5em;
}

.post-title {
  color: $pink;
  display: inline;
  margin-right: 10px;
}

.post-subtitle {
  color: $green;
  font-size: 1.75em;
}

.post-date {
  color: #9a9a9a;
  font-weight: bold;
  margin-right: 10px;
}

.post-img {
  width: 100%;
  margin-right: 20px;
}

.post-preview {
  width: 50%;
}

.post-readmore {
  font-weight: bold;
  margin-top: 10px;
}

.post-tags {
  margin-top: 25px;
}

.post-tag {
  background-color: $foreground;
  font-family: monospace;
  color: $background;
  font-weight: bold;
  padding: 2px 5px 2.5px 5px;
  border-radius: 5px;
  margin: 0 2px;
  text-align: center;
}
