@import "colours.scss";
@import "core.scss";

.post {
  margin-bottom: 1em;
}

.post-content {
  display: flex;
  @media (max-width: ($mobile-width + $buffer)) {
    flex-direction: column;
  }
}

.post-header {
  margin-bottom: 0.5em;
}

.post-title {
  color: $pink;
  display: inline;
  margin-right: 10px;
}

.post-subtitle {
  color: $green;
  font-size: 1.75em;
}

.post-date {
  color: #9a9a9a;
  font-weight: bold;
  margin-right: 10px;
}

.title-date {
  color: #9a9a9a;
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.25em;
}

.post-img {
  width: 100%;
  margin-right: 20px;
  flex: 1;
}

.post-preview {
  @media (min-width: ($mobile-width + $buffer)) {
    width: 300px;
  }
}

.post-readmore {
  font-weight: bold;
  margin-top: 10px;
}

.post-tags {
  margin-top: 25px;
}

em {
  color: $pink;
}

.post-tag {
  background-color: $foreground;
  font-family: monospace;
  color: $background;
  font-weight: bold;
  padding: 2px 5px 2.5px 5px;
  border-radius: 5px;
  margin: 0 2px;
  text-align: center;
}

.inline-diagram {
  width: auto;
  padding-top: 7px;
  display: inline;
  height: 50px;
  vertical-align: middle;
}
