@import "colours.scss";
@import "core.scss";

.post {
  margin-bottom: 1em;
  padding: 10px 20px;
  background-color: $accent;
}

.post-content {
  display: flex;
  flex-direction: column;
}

.post-header {
  margin-bottom: 0.5em;
}

.post-header > a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.post-header > a {
  text-decoration: none;
}

.post-titles {
  display: flex;
  @media (min-width: ($content-width + $buffer)) {
    flex-direction: row;
    align-items: end;
    gap: 10px;
  }
  @media (max-width: ($content-width + $buffer)) {
    flex-direction: column;
  }
}

.post-title {
  color: $pink;
  display: inline;
  font-size: 1.5em;
  font-weight: bold;
}

.post-subtitle {
  color: $green;
  font-size: 1.5em;
}


.post-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: flex-start;

  @media (max-width: ($content-width + $buffer)) {
    flex-direction: column;
  }
}

.title-date {
  color: #9a9a9a;
  font-weight: bold;
  margin-top: 10px;
  font-size: 1.25em;
}

.post-img {
  margin: 0 0 10px 0;
}

.post-img > img {
  display: block;
  width: 100%;
}

.post-readmore {
  font-weight: bold;
  margin-top: 10px;
}

.post-tags {
  display: flex;
  gap: 5px;
}

.post-info-item {
  font-weight: bold;
  border-radius: 5px;
}

a .post-tag {
  &:hover {
    text-decoration: underline;
  }
}