@import "colours.scss";

$mobile-width: 500px;
$content-width: 800px;
$small-content-width: 750px;
$smaller-content-width: 600px;
$buffer: 50px;

html {
  overflow-y: scroll;
  background-color: $background;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.5;

  @media (max-width: ($small-content-width + $buffer)) {
    font-size: 16px;
  }
}

body {
  margin: 0;
  color: $foreground;
}

h1 {
  font-size: 3.5em;
  margin-top: 0;
  margin-bottom: 0;
}

h2,
h3,
h4 {
  color: $green;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0.25em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h2::before,
h3::before {
  display: block;
  content: " ";
  margin-top: -85px;
  height: 85px;
  visibility: hidden;
  pointer-events: none;
}

a {
  color: $cyan;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

img {
  width: 100%;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
}

thead {
  font-weight: bold;
  background-color: $accent;
}

thead > tr > td:nth-child(1) {
  border-radius: 5px 0 0 0;
}

thead > tr > td:nth-last-child(1) {
  border-radius: 0 5px 0 0;
}

td {
  padding: 0.25em 0.5rem;
}

.container,
.header-bar-content {
  margin: auto;

  @media (min-width: ($mobile-width + $buffer)) {
    max-width: $mobile-width;
  }

  @media (min-width: ($smaller-content-width + $buffer)) {
    max-width: $smaller-content-width;
  }

  @media (min-width: ($small-content-width + $buffer)) {
    max-width: $small-content-width;
  }

  @media (min-width: ($content-width + $buffer)) {
    max-width: $content-width;
  }
}

$content-padding: 16px;

.content {
  padding: $content-padding;
}

.counter {
  margin: 25px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-number {
  margin: 0 5px;
  font-size: 1.5em;
  background-color: $accent;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: monospace;
}

.current-page {
  color: $pink;
  font-weight: bold;
}

.card {
  background-color: $accent;
  padding: 10px;
  padding-left: 20px;
  margin: 15px 0px;
}