@import "core.scss";
@import "colours.scss";

$nav-height: 75px;

.site-name-bar {
  background-color: $accent;
  border-bottom: 2px solid $background;
}

.site-name-centre {
  display: flex;
  margin: auto;
  align-items: center;
  padding: $content-padding;
}

.site-name {
  color: $pink;
  font-size: 2em;
  font-weight: 600;
}

.nav-bar {
  display: flex;
  margin: auto;
  padding: 0 $content-padding 10px $content-padding;
  background-color: $accent;
  flex-wrap: wrap;
  align-items: center;
}

.nav-link {
  // font-weight: bold;
  font-size: 1.1em;
  margin-right: 20px;
}

.selected {
  color: $green;
}

.nav-site-image {
  height: 60px;
  width: 60px;
  margin-right: 0.75em;
  margin-bottom: 0;
}

.nav-bar-title {
  color: $pink;
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.header-bar {
  background-color: $accent;
  margin: auto;
  padding: $content-padding;
}

.header-bar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle,
.tagline {
  color: $subtitle;
  text-align: center;
}

.tagline {
  margin-top: 10px;
  font-size: 1.25em;
}

.subtitle {
  font-size: 1.75em;
}

.home-link {
  @media (max-width: ($content-width + $buffer)) {
    display: none;
  }
}

.nav-bar-mobile {
  @media (min-width: ($mobile-width + $buffer)) {
    display: none;
  }
  display: flex;
  padding: 10px;
  font-size: 1.25em;
  background-color: $accent;
  border-bottom: 2px solid $background;
  justify-content: center;
}
