@import "core.scss";
@import "colours.scss";

$nav-height: 75px;

.spacer {
    height: $nav-height;
}

.nav-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 999;
    border-bottom: 2px solid $background;
    background-color: $accent;
}

.nav-bar-content {
    text-align: center;
    display: flex;
    height: $nav-height;
    width: $content-width;
    padding-top: 10px;

    @media(min-width: $mobile-width + 14em) {
        max-width: $mobile-width;
    }

    @media(max-width: $mobile-width + 14em) {
        padding-left: 1em;
        padding-right: 1em;
        max-width: $mobile-width;
    }

    @media(min-width : $home-width) {
        max-width: $content-width;
    }
}

.left-nav {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.site-name {
    display: flex;
    align-items: center;
}

.right-nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    @media (max-width: $mobile-width) {
        display: none;
    }

}

.nav-site-image {
    height: 50px;
    width: 50px;
    margin-right: 0.75em;
}

.nav-bar-title {
    color: $pink;
    font-size: 2em;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-decoration: none;
}

.nav-link {
    font-weight: bold;
    font-size: 1em;
    margin: 2px 10px 0 10px;
}

.header-bar {
    background-color: $accent;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 999;
    text-align: center;
    padding: 2rem 0rem;
}

.subtitle,
.tagline {
    color: $subtitle;
}

.subtitle {
    font-size: 1.25em;
}

.home-link {
    @media (max-width: $home-width) {
        display: none;
    }
}

.mobile-nav {
    @media (min-width: $mobile-width) {
        display: none;
    }
}