@import "core.scss";
@import "colours.scss";

$nav-height: 75px;

.spacer {
  height: $nav-height;
  @media (max-width: ($mobile-width + $buffer)) {
    display: none;
  }
}

.nav-bar {
  @media (min-width: ($mobile-width + $buffer)) {
    position: fixed;
  }
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 999;
  border-bottom: 2px solid $background;
  background-color: $accent;
}

.nav-bar-content {
  text-align: center;
  display: flex;
  height: $nav-height;
  padding: 10px 0 10px 0;

  @media (max-width: ($mobile-width + $buffer)) {
    padding-left: 1em;
    padding-right: 1em;

    align-items: center;
    justify-content: center;
  }
}

.left-nav {
  flex: 1;
  display: flex;
  align-items: center;

  @media (max-width: ($mobile-width + $buffer)) {
    margin: auto;
    justify-content: center;
  }
}

.site-name {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.right-nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  @media (max-width: ($mobile-width + $buffer)) {
    display: none;
  }
}

.nav-site-image {
  height: 60px;
  width: 60px;
  margin-right: 0.75em;
  margin-bottom: 0;
}

.nav-bar-title {
  color: $pink;
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.nav-link {
  font-weight: bold;
  font-size: 1em;
  margin: 2px 10px 0 10px;
}

.header-bar {
  background-color: $accent;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  z-index: 999;
  text-align: center;
  padding: 2rem 0rem;
}

.header-bar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle,
.tagline {
  color: $subtitle;
}

.tagline {
  text-align: center;
  max-width: 80%;
  margin-top: 10px;
  font-size: 1.25em;
}

.subtitle {
  font-size: 1.75em;
}

.home-link {
  @media (max-width: ($content-width + $buffer)) {
    display: none;
  }
}

.nav-bar-mobile {
  @media (min-width: ($mobile-width + $buffer)) {
    display: none;
  }
  display: flex;
  padding: 10px;
  font-size: 1.25em;
  background-color: $accent;
  border-bottom: 2px solid $background;
  justify-content: center;
}
