@import "colours.scss";
@import "core.scss";

// intro
.profile-picture {
  width: 200px;

  @media (max-width: ($mobile-width + $buffer)) {
    display: none;
  }
  float: right;
  border-radius: 10px;
  margin-left: 25px;
}

.mobile-picture {
  @media (min-width: ($mobile-width + $buffer)) {
    display: none;
  }
  max-width: 250px;
  margin: 10px 0;
}

// news

.news-date {
  color: $green;
}

// misc

.misc-link {
  font-weight: bold;
}

.misc-text {
  font-style: italic;
}