@import "colours.scss";
@import "core.scss";

// Pictures
.picture-block {
  display: flex;
}

.picture-picture {
  flex: 1;
  padding: 0 10px;
}

.picture-caption {
  width: 30%;
}

img {
  width: 100%;
}

// Stations

.stations {
}

.station {
  width: 300px;
}

.station-img {
  width: 33%;

  @media (max-width: $content-width) {
    width: 49%;
  }
}

// page counter

.counter {
  margin: 25px 0;
  text-align: center;
}

.page-number {
  margin: 0 5px;
  font-size: 1.5em;
  background-color: $accent;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: monospace;
}

.current-page {
  color: $pink;
  font-weight: bold;
}

// redirects

.redirect {
  text-align: center;
}

// scenario

.scenario-info {
  margin-bottom: 10px;
}

.timetable {
  width: 100%;
}

table.timetable > tbody > tr > td {
  border-bottom: 1px solid $foreground;
}

.call-pass {
  font-style: italic;
}

.call-platform,
.call-arr,
.call-dep {
  text-align: center;
}

.call-location {
  font-weight: bold;
}

// scenarios

.small-scenario {
}

.scenario-preview {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.scenario-title {
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

.scenario-last-updated {
  text-align: center;
  font-style: italic;
  margin-bottom: 15px;
}
