@import "colours.scss";

.paper-title {
    font-weight: bold;
    font-size: 1.1em;
}

.paper-details {
    color: $green;
    font-style: italic;

}

.paper-authors {
    font-size: 1.1em;
}

.author-text {
    font-style: italic;
}

.author-me {
    color: $pink;
}

.toggle-abstract {
    cursor: pointer;
    color: $cyan;
}

.paper-abstract {
    margin: 0.5em 0;
}

.paper-buttons{
    margin-bottom: 0.5em;
}

