@import "colours.scss";
@import "core.scss";

img {
  width: auto;
  padding-top: 7px;
  display: inline;
  vertical-align: middle;
}

em {
  color: $pink;
}

.definition,
.example,
.remark {
  background-color: $accent;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.definition-name,
.example-name,
.remark-name {
  font-weight: bold;
  font-size: 1.25em;
  color: $pink;
}

.figure {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  margin: 0 auto 10px auto;
  justify-content: center;
}

.figure img {
  height: auto;
  margin: 0 15px;
}
