@import "core.scss";

.stations {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.station {
  width: 300px;
}

.station-img {
  margin-bottom: 0px;
  width: 32%;

  @media (max-width: ($content-width + $buffer)) {
    width: 48%;
  }
}
