---
layout: default
styles: 
  - redirect
---

<meta http-equiv="refresh" content="0; url='{{ redirect.to }}'" />
<div class="redirect">
    You should be redirecting to <a href="{{ redirect.to }}">{{ redirect.to }}</a>.
</div>