html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}


@media (max-width: 60em) {
  html {
    font-size: 16px;
  }
}

img {
  /*display: block;*/
  width: 100%;
  border-radius: 5px;
}


.project-img {
  width: 100%;
}

/* Colours */

/* Dark */
html {
  background-color: #282a36;
}


/* Light */
.nav-bar,
.header-bar,
.mobile-nav,
code,
pre {
  background-color: #383a59;
}

/* cyan text */

a {
  color: #8be9fd;
}


/* Green text */
h2,
h3,
.definition-header,
.post-subtitle,
.post-subtitle-small {
  color: #50fa7b;
}

/* Pink text */
h1,
.nav-bar-title,
.page-title,
.post-title,
.post-title-small {
  color: #ff79c6;
}

/* white (ish) */

body,
h4,
h5,
h6,
.title,
code {
  color: #f2f2f2;
}

.small {
  font-size: 1em;
}

/* Nav bar 
 * This is the bar that contains the site name, page name and links
 */


/* The whole nav bar */

.nav-bar {
  width: 100%;
  position: fixed;
  z-index: 999;
  border-top: 2px solid #282a36;
  border-bottom: 2px solid #282a36;
}

@media (min-width: 36em) {
  .nav-bar {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 54em) {

  .nav-bar-content,
  .container,
  .title-bar,
  .tagline {
    max-width: 54em;
  }
}

.nav-bar-content {
  text-align: center;
  display: flex;

  height: 75px;
  width: 100%;
  padding-top: 10px;
  opacity: 100%;
}

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  font-weight: bold;
  font-size: 1em;
}

@media (max-width: 60em) {
  .nav-link {
    font-size: 1.5em;
  }
}

/* Left space, for site name and my face 
 */

.left-nav {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

@media (max-width: 36em) {
  .left-nav {
    justify-content: center;
    margin-right: 10px;
  }
}

.nav-site-image {
  height: 50px;
  width: 50px;
  margin-right: 0.75em;
}

.nav-bar-title {
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.site-name {
  flex: 1;
  display: flex;
  align-items: center;
}

/* Middle space for page title
 */

@media (max-width: 54em) {
  .middle-nav {
    display: none;
  }
}

.middle-nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar-page-title a {
  font-size: 2em;
  font-weight: bold;
}

/* Right nav for the links */


.right-nav {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 5px;
}

@media (max-width: 72em) {
  .home-link {
    display: none;
  }
}

.spacer {
  height: 75px;
}

@media (max-width: 36em) {
  .spacer {
    height: 125px;
  }
}


/* Mobile stuff, the links move down to a new bar and my face appears in the middle */

.mobile-nav {
  height: 50px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #282a36;
  flex-direction: row-reverse;
  font-size: 1em;
}

.mobile-site-image {
  display: none;
}

/* Header bar */

.header-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 999;
  text-align: center;
  padding: 2rem 0rem;
  color: rgba(255, 255, 255, .5);
}

/* Title bar, containing my face and the page title */

.title-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.title {
  font-size: 3.5em;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0em;
}

.subtitle {
  font-size: 2em;
  margin: 0.25em 0em;
}

.site-image {
  display: flex;
  vertical-align: middle;
  max-width: 100%;
}

.header-date {
  font-weight: bold;
  margin-top: 10px;
}

@media (min-width: 54em) {
  .mobile-image {
    display: none;
  }
}

@media (max-width: 54em) {

  .title-bar {
    padding: 0 1em;
  }

  .site-image {
    display: none;
  }
}

/* Tagline */

.tagline {
  max-width: 40em;
  font-size: 1.25em;
  text-align: center;
  margin: 0 25px;
}


/* Container */

.content {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 4rem;
}

@media (max-width: 72em) {

  .content,
  .nav-bar-content {
    max-width: 44em;
  }

}

.centre-image {
  text-align: center;
}

/* Scenario formatting */
.small-scenario {
  margin-top: 5px;
  margin-right: 5px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .small-scenario {
    width: 48%;
  }
}

/* Blog */

.post-preview {
  display: flex;
  flex-direction: row;
}

.post-date {
  margin-right: 10px;
}

.post-img {
  width: 30em;
  margin-right: 25px;
}

@media (max-width: 52em) {
  .post-preview {
    flex-direction: column;
  }

  .post-img {
    width: 100%;
  }
}

.post-title {
  font-size: 2.5em;
  font-weight: bold;
}

.post-title-small {
  font-size: 1.5em;
  font-weight: bold;
}

.post-subtitle {
  font-size: 2em;
  margin-right: 0.2em;
}

.post-subtitle-small {
  font-size: 1em;
  margin-right: 0.2em;
}

.post-info {
  display: flex;
  flex-direction: row;
  color: #9a9a9a;
  font-weight: bold;
  margin-bottom: 20px;
}

.post-tag {
  margin-left: 5px;
  padding: 0 7px;
  background-color: #f2f2f2;
  border-radius: 5px;
  color: #000000;

}

.post-tagline {
  margin-top: 10px;
}

.post-link {
  margin-top: 10px;
  font-weight: bold;
}

@media (min-width: 36em) {
  .mobile {
    display: none;
  }
}

@media (max-width: 36em) {
  .desktop {
    display: none;
  }
}

/* Papers */

.definition-header {
  background-color: #383a59;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 110%;
}

.definition-body {
  background-color: #383a59;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.definition-body-bullets {
  background-color: #383a59;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-link {
  font-weight: bold;
  margin: 25px 0px;
}

.abstract {
  display: none;
}

.visible-abstract {
  opacity: 1;
  visibility: visible;
}

.profile-picture {
  width: 275px;
  float: right;
  border-radius: 10px;
  margin-left: 25px;
}

.profile-picture-mobile {
  display: block;
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border-radius: 10px;
}

@media (max-width: 36em) {
  .profile-picture {
    display: none;
  }
}

@media (min-width: 36em) {
  .profile-picture-mobile {
    display: none;
  }
}

/* pictures page table */

.pictures-table tr:nth-child(2n) td {
  background-color: transparent;
}

.footnote {
  border-top: 1px solid #eee;
  padding-top: 25px;
  font-style: italic;
}

.station-picture {
  width: 32%;
}

@media (max-width: 60em) {
  .station-picture {
    width: 49%;
  }
}