html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

/*@media (max-width: 48em) {
  html {
    font-size: 16px;
  }
}*/

@media (min-width: 48em) {
  html {
    font-size: 20px;
  }
}

/* Colours */

.dark {
  background-color: #282a36;
}

.light {
  background-color: #383a59;
}

.green-text {
  color: #50fa7b;
}

.pink-text {
  color: #ff79c6
}

/* Nav bar 
 * This is the bar that contains the site name, page name and links
 */


/* The whole nav bar */

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  border-bottom: 2px solid #282a36;
}


@media (min-width: 50em) {
  .wide {
    max-width: 50em;
  }
}

.nav-bar-content {
  text-align: center;
  display: flex;

  height: 75px;
  width: 100%;
  padding-top: 10px;
  opacity: 100%;
}

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

/* Left space, for site name and my face 
 * Doesn't get displayed at <48em
 */

.left-nav {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.nav-site-image {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.nav-bar-title {
  font-size: 22pt;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}


@media (max-width: 48em) {

  .left-nav {
    display: none;
  }

}

.site-name {
  flex: 1;
  display: flex;
  align-items: center;
}

/* Middle space for page title
 */

@media (max-width: 48em) {
  .middle-nav {
    display: none;
  }
}

.middle-nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar-page-title a {
  color: #ff79c6;
  font-size: 2em;
  font-weight: bold;
}

/* Right nav for the links */


.right-nav {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 5px;
}

@media (max-width: 48em) {
  .right-nav {
    display: none;
  }
}

.spacer {
  height: 75px;
}

/* Mobile stuff, the links move down to a new bar and my face appears in the middle */

.mobile-nav {
  height: 50px;
  font-size: 20px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #383a59;
  border-bottom: 2px solid #282a36;
  flex-direction: row-reverse;
}

@media (min-width:48em) {
  .mobile-site-image {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}



/* Header bar */

.header-bar {
  width: 100%;
  z-index: 999;
  text-align: center;
  padding: 2rem 0rem;
  color: rgba(255, 255, 255, .5);
  background-color: #383a59;
}

/* Title bar, containing my face and the page title */

.title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5em;
}

.title-bar-item {
  display: flex;
  flex-basis: auto;
  align-self: center;
}

.title {
  font-size: 3.5em;
  font-weight: bold;
  line-height: 1;
  margin-top: 12px;
  color: #f2f2f2;
}

.site-image {
  display: flex;
  vertical-align: middle;
  max-width: 100%;
}

@media (min-width: 32em) {
  .mobile-image {
    display: none;
  }
}

@media (max-width: 32em) {

  .title-bar {
    padding: 1em;
  }

  .title-bar-item {
    margin: 0;
  }

  .site-image {
    display: none;
  }
}

/* Tagline */

.tagline {
  font-size: 18pt;
  text-align: center;
}



/* Container */

.content {
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

@media (min-width: 32em) {
  .content {
    margin-left: auto;
    margin-right: auto;
  }
}

.centre-image {
  text-align: center;
}


/* List items */
.list-item-heading {
  margin: 0px;
}

.list-item {}