html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

/*@media (max-width: 48em) {
  html {
    font-size: 16px;
  }
}*/

@media (min-width: 48em) {
  html {
    font-size: 20px;
  }
}

/* Title bar */

.title-bar {
  width: 100%;
  z-index: 999;
  text-align: center;
  padding: 2rem 0rem;
  color: rgba(255, 255, 255, .5);
  background-color: #383a59;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1.5em;
}

.top-bar-item {
  display: flex;
  flex-basis: auto;
  align-self: center;
}

.title {
  font-size: 3.5em;
  font-weight: bold;
  margin-left: 0.33em;
  line-height: 1;
  margin-top: 12px;
  color: #f2f2f2;
}

.tagline {
  font-size: 18pt;
  text-align: center;
}

.site-image {
  display: flex;
  vertical-align: middle;
  max-width: 100%;
}

@media (min-width: 32em) {
  .mobile-image {
    display: none;
  }
}

@media (max-width: 32em) {

  .top-bar {
    padding: 1em;
  }

  .site-image {
    display: none;
  }
}


.nav-bar {
  text-align: center;
  display: flex;
  position: fixed;
  z-index: 999;
  background-color: #383a59;
  border-bottom: 2px solid #282a36;
  height: 75px;
  width: 100%;
  padding-top: 10px;
  opacity: 100%;
}

.left-nav {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.site-name {
  flex: 1;
  display: flex;
  align-items: center;
}

@media (max-width: 48em) {
  .middle-nav {
    display: none;
  }
}

.middle-nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-title {
  font-size: 22pt;
  font-weight: bold;
  color: #50fa7b;
  line-height: 1;
  text-align: center;
}

.small-page-title a {
  color: #ff79c6;
  margin: 10px;
  font-size: 22pt;
  font-weight: bold;
}

.spacer {
  height: 75px;
}

.nav-site-image {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.mobile-nav {
  height: 50px;
  font-size: 20px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #383a59;
  border-bottom: 2px solid #282a36;
  flex-direction: row-reverse;
}


.right-nav {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 5px;
  font-weight: bold;
}


.top-nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-top: 10px;
  border-bottom: 2px solid #282a36;
  border-top: 2px solid #282a36;
  padding: 10px 0px 10px 0px;
}

@media (max-width: 48em) {

  .left-nav {
    display: none;
  }

  .right-nav {
    display: none;
  }
}

@media (min-width:48em) {
  .mobile-site-image {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

/* Container */

.content {
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

@media (min-width: 32em) {
  .content {
    max-width: 32em;
    margin-left: auto;
    margin-right: auto;
  }
}

.centre-image {
  text-align: center;
}


/* List items */
.list-item-heading {
  margin: 0px;
  text-align: center;
}

.list-item {
  text-align: center;
}