<div class="nav-bar light">
  <div class="nav-bar-content light wide">
    <div class="left-nav">
      {% if page.title == "Home" %}
      <a href="#top">
        {% else %}
        <a href="/">
          {% endif %}
          <div class=" site-name">
            <div><img class="nav-site-image" src="{{ site.author.avatar }}" alt="me"></div>
            <div class="nav-bar-title pink-text">George Kaye</div>
          </div>
        </a>
    </div>
    <div class="desktop right-nav">
      <div class="nav-link"><a href="https://github.com/georgejkaye">GitHub</a></div>
      <div class="nav-link"><a href="/blog">Blog</a></div>
      {% if page.title == "Home" %}
      <div class="nav-link home-link">•</div>
      <div class="nav-link home-link"><a href="#misc">Misc</a></div>
      <div class="nav-link home-link"><a href="#teaching">Teaching</a></div>
      <div class="nav-link home-link"><a href="#talks">Talks</a></div>
      <div class="nav-link home-link"><a href="#publications">Publications</a></div>
      <div class="nav-link home-link"><a href="#about-me">About</a></div>
      {% endif %}
      {% if page.type == "trains" %}
      <div class="nav-link home-link"><a href="/trains">Trains</a></div>
      {% endif %}
    </div>
  </div>
  <div class="mobile mobile-nav">
    <div class="nav-link"><a href="https://github.com/georgejkaye">GitHub</a></div>
    <div class="nav-link"><a href="/blog">Blog</a></div>
  </div>
</div>