---
title: Railway stations
subtitle: I visit a lot of railway stations
permalink: /trains/stations/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber | increment }}/{% endif %}
style: stations
pagination:
  data: stations
  size: 12
---

{% capture root %}
   /trains/stations
{% endcapture %}
{% assign pages = pagination.pages.size %}
{% assign current = pagination.pageNumber %}
{% include "components/pagenumbers" %}

<div class="stations">
    {% for stn in pagination.items %}
        <img class="station-img" src="/images/trains/stations/{{ stn.crs }}.webp" />
    {% endfor %}
</div>

{% include "components/pagenumbers" %}