{% include components/section %}

<h3>Admin</h3>


On the admin side, I currently look after the School of Computer Science cookie break.
The Cookie Break is the School's longest running social event and it's an honour to be in charge of such an esteemed
tradition.
I also help to maintain the [Theory
website](https://www.birmingham.ac.uk/research/activity/computer-science/theory-of-computation).