<h2>Misc</h2>

<p>
    <span class="misc-link"><a href="/pictures">Pictures</a></span>
    <span class="misc-text">Pictures of me</span>
</p>
<p>
    <span class="misc-link"><a href="/adventures-in-academia">Adventures in Academia</a></span>
    <span class="misc-text">A series of entertaining escapades</span>
</p>
<p>
    <span class="misc-link"><a href="/stations/page-1">Railway stations</a></span>
    <span class="misc-text">I take pictures of station signs</span>
</p>