---
layout: default
title: Blog
subtitle: A compendium of wacky adventures and occasional seriousness
permalink: /blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber | increment }}/{% endif %}
style: blog
pagination:
  data: collections.blog
  size: 5
  reverse: true
---
{% capture root %}
   /blog
{% endcapture %}
{% assign pages = pagination.pages.size %}
{% assign current = pagination.pageNumber %}

<div class="posts">
  {% include "components/pagenumbers" %}
  {% for post in pagination.items %}
    {% include "blog-entry" %}
  {% endfor %}
  {% include "components/pagenumbers" %}
</div>