---
layout: default
title: Blog
subtitle: A compendium of wacky adventures and occasional seriousness
permalink: /blog/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber | increment }}/{% endif %}
pagination:
  data: collections.blog
  size: 5
  reverse: true
---

<div class="posts">
    {% for post in pagination.items %}
    <div class="post">
        <div class="post-header">
            <a href={{ post.url }}>
                <h2 class="post-title">{{ post.data.title }}</h2>
                {% if post.data.part %}
                    {% assign subtitle=post.data.part %}
                {% elsif post.data.subtitle %}
                    {% assign subtitle=post.data.subtitle %}
                {% endif %}            
                <span class="post-subtitle">{{ subtitle }}</span>
            </a>
            <div class="post-info">
                <span class="post-date">{{ post.data.date | prettyDate }}</span>
                {% for tag in post.data.tags %}
                <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="post-content">
            {% if post.data.image %}
            <img class="post-img" src={{ post.data.image }} alt={{ post.data.alt }}/>
            {% endif %}
            <div class="post-preview">
                <div>
                {{ post.data.tagline }}
                </div>
                <div class="post-readmore">
                    <a href={{ post.url }}>Read more</a>
                </div>
            </div> 
      </div>
    </div>
    {% endfor %}

    {% include components/pagenumbers %}
</div>