---
pagination:
   data: collections.doublePagination
   size: 1
   alias: tag
permalink: /blog/{{ tag.tagName }}/{% if tag.pageNumber > 0 %}{{ tag.pageNumber | increment }}/{% endif %}
style: blog

eleventyComputed:
   title: "Posts tagged '{{ tag.tagName }}'"
---

{% capture root %}
   /blog/{{ tag.tagName }}
{% endcapture %}
{% assign pages = tag.pages %}
{% assign current = tag.pageNumber %}
{% include "components/pagenumbers" %}

{% for post in tag.pageData %}
   {% include "blog-entry" %}
{% endfor %}

{% include "components/pagenumbers" %}