@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600&display=swap');

body {
    font: 14px "Source Code Pro", Futura, sans-serif;
    color: #d6d3cd;
    background-color: #282A36;
    margin: 0px;
}

table {
    border: none;
    border-collapse: collapse;
}

h1 {
    margin: 0px 0px 0px 0px;
    font-size: 48px;
    font-weight: light;
}

h2 {
    padding: 5px 0px 5px 0px;
}

td {
    vertical-align: top;
    padding: 1px;
}

tbody {
    width: 100%;
    display: table;
}

button {
    border: none;
}

input[type=text] {

    background-color: #d6d3cd;
    height: 36px;
    border: none;
    padding: 5px 10px 5px 10px;
    font-size: 18px;

}

textarea {
    background-color: #d6d3cd;
}

/* SVG stuff */

polygon {
    opacity: 0;
}

path {
    stroke: #d6d3cd;
}

text {
    fill: #d6d3cd;
}

ellipse {
    fill: #d6d3cd;
    stroke: #d6d3cd;
}

polyline {
    stroke: #d6d3cd;
}

g g polygon {
    stroke: #d6d3cd;
    opacity: 1;
}

/* Classes */

.code {
    font: "Courier New", monospace;
    background-color: #383a59;
    color: #f8f8f2;
    border-radius: 3px;
    padding: .2em .4em;
}

.latex {
    margin: 0px 10px;
}

.right {
    float: right
}

.title {
    background-color: #383a59;
    color: #fff;
    padding: 10px;
}

.darker {
    background-color: #21222c;
}

.lighter {
    background-color: #383a59;
}

.scroll {
    overflow: auto;
}

.function-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 18pt;
}

.large-latex {
    font-size: 24pt;
}

.function-div {
    margin: 10px 0px 10px 0px;
    overflow-y: scroll;
    max-height: 50vh;
}

.centre {
    text-align: center;
}