---
layout: page
title: Blog
tagline: Don't read this
permalink: /blog/
---

<div class="posts">
  {% for post in site.posts %}
  <article class="post">
    <a href="{{ site.basurl }}{{ post.url }}">
      <span class="post-title">
        {{ post.title }}
      </span>
      <span class="post-subtitle">{{ post.subtitle }}</span>
      <span><time datetime="{{ post.date | date_to_xmlschema }}"
          class="post-date">{{ post.date | date_to_string }}</time></span>
    </a>



    {% if post.image %}
    <p>
      <a href="{{ site.basurl }}{{ post.url }}">
        <img src="{{ post.image }}" alt="{{ post.alttext }}" width="100%">
      </a>
    </p>
    {% endif %}

    <p>{{ post.tagline }}</p>
    <a class="top-link" href="{{ site.basurl }}{{ post.url }}">Read more</a>

  </article>
  {% endfor %}
</div>