<div class="counter">
    {%- for i in (1..pages) -%}
    <div>
        <a href="{{- root -}}
            {%- if i != 1 -%}
                /{{- i -}}
            {%- endif -%}" 
           title="Page {{ i }}"
        >
            <span class="page-number{% if forloop.index0 == current %} current-page" 
                  aria-current="page{%- endif -%}"
        >
            {{- forloop.index -}}
            </span>
        </a>
    </div>
    {%- endfor -%}
</div>