<div class="counter">
    {%- for page in pagination.pages -%}
    <div>
        <a href="{{- pagination.hrefs[forloop.index0] -}}" title="Page {{ forloop.index }}"><span class="page-number{% if pagination.pageNumber == forloop.index0 %} current-page" aria-current="page{%- endif -%}">
    {{- forloop.index -}}
    </span></a></div>
    {%- endfor -%}
</div>