<div class="header-bar">
  <div class="header-bar-content">
    <div class="title-bar">
      <h1 class="title">
        {% if page.url == "/" %}
        Hello!
        {% else %}
        {{ title }}
        {% endif %}
      </h1>

      {% if subtitle %}
      {% assign subtitlet=subtitle %}
      {% elsif part %}
      {% assign subtitlet=part %}
      {% endif %}

      {% if subtitlet %}
      <div class="subtitle">{{ subtitlet }}</div>
      {% endif %}
    </div>
    {% if tagline %}
    <div class="tagline">{{ tagline }}</div>
    {% endif %}
    {% if page.tags.size > 0 %}
    <div class="post-info">
      {% for tag in page.tags %}
      <div class="post-tag">
        {{ tag }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>